# Source: https://alchitry.com/tutorials/references/without-alchitry-labs/

# Clock
set_io clk P7

# Reset
set_io rst_n P8

# Onboard LEDs (top to bottom)
set_io led[0] J11
set_io led[1] K11
set_io led[2] G12
set_io led[3] H12
set_io led[4] K14
set_io led[5] J12
set_io led[6] L14
set_io led[7] K12

# USB
set_io usb_rx P14
set_io usb_tx M9

## Alchitry IO

# LEDs (right to left)
set_io io_led[0] E12
set_io io_led[1] D14
set_io io_led[2] F12
set_io io_led[3] E14
set_io io_led[4] C14
set_io io_led[5] D12
set_io io_led[6] B14
set_io io_led[7] C12

set_io io_led[8] C11
set_io io_led[9] A12
set_io io_led[10] C10
set_io io_led[11] A11
set_io io_led[12] C9
set_io io_led[13] A10
set_io io_led[14] A7
set_io io_led[15] C7

set_io io_led[16] A6
set_io io_led[17] C6
set_io io_led[18] A5
set_io io_led[19] C5
set_io io_led[20] A4
set_io io_led[21] C4
set_io io_led[22] G4
set_io io_led[23] D5

# DIP Switches (right to left)
set_io io_dip[0] H11
set_io io_dip[1] G11
set_io io_dip[2] F11
set_io io_dip[3] E11
set_io io_dip[4] D11
set_io io_dip[5] D10
set_io io_dip[6] G1
set_io io_dip[7] D9

set_io io_dip[8] H1
set_io io_dip[9] D7
set_io io_dip[10] D6
set_io io_dip[11] M6
set_io io_dip[12] P4
set_io io_dip[13] M4
set_io io_dip[14] P3
set_io io_dip[15] L4

set_io io_dip[16] P2
set_io io_dip[17] L1
set_io io_dip[18] J3
set_io io_dip[19] M1
set_io io_dip[20] K3
set_io io_dip[21] N1
set_io io_dip[22] P1
set_io io_dip[23] M3

# Buttons
set_io io_button[0] D1 # up
set_io io_button[1] E4 # middle
set_io io_button[2] E1 # down
set_io io_button[3] F4 # left
set_io io_button[4] H4 # right

# Eight Segment Displays (right to left)
set_io io_select[0] H3
set_io io_select[1] J1
set_io io_select[2] F3
set_io io_select[3] G3

set_io io_segment[0] B1
set_io io_segment[1] C1
set_io io_segment[2] C3
set_io io_segment[3] D4
set_io io_segment[4] A1
set_io io_segment[5] D3
set_io io_segment[6] A3
set_io io_segment[7] A2
